// ================================================
//   _   ____  ______  _  _______  _  ___________ 
//  | | / / / / / __ \/ |/ / ___/ / |/ / ___/ __ \
//  | |/ / /_/ / /_/ /    / (_ / /    / (_ / /_/ /
//  |___/\____/\____/_/|_/\___/ /_/|_/\___/\____/ 
// ================================================

//=====================================
// ANIMATIONS
//=====================================
// https://niri-wm.github.io/niri/Configuration%3A-Animations.html

animations {
    slowdown 0.5
    
    window-open {
        duration-ms 100
        curve "ease-out-quad"
    }
    window-close {
        duration-ms 120
        curve "ease-out-cubic"
    }
    horizontal-view-movement {
        spring damping-ratio=0.9 stiffness=500 epsilon=0.0001
    }
    window-movement {
        spring damping-ratio=0.85 stiffness=700 epsilon=0.0001
    }
    window-resize {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    }
    config-notification-open-close {
        spring damping-ratio=0.7 stiffness=1000 epsilon=0.001
    }
    screenshot-ui-open {
        duration-ms 300
        curve "ease-out-quad"
    }
    overview-open-close {
        spring damping-ratio=0.9 stiffness=800 epsilon=0.0001
    }
}