// ================================================
//   _   ____  ______  _  _______  _  ___________ 
//  | | / / / / / __ \/ |/ / ___/ / |/ / ___/ __ \
//  | |/ / /_/ / /_/ /    / (_ / /    / (_ / /_/ /
//  |___/\____/\____/_/|_/\___/ /_/|_/\___/\____/ 
// ================================================

//=====================================
// ENVIRONMENTS
//=====================================
// https://niri-wm.github.io/niri/Configuration%3A-Miscellaneous.html

environment {
    // --- XDG DESKTOP INTEGRATION ---
    // Critical for Screen Sharing & Portal functionality
    XDG_CURRENT_DESKTOP "niri"
    XDG_SESSION_TYPE "wayland"
    XDG_SESSION_DESKTOP "niri"

    // Fix for Electron apps (Discord, VS Code, Obsidian)
    ELECTRON_OZONE_PLATFORM_HINT "auto"

    // --- TOOLKIT BACKENDS ---
    // Force applications to use Wayland natively
    QT_QPA_PLATFORM "wayland;xcb"
    GDK_BACKEND "wayland,x11"
    CLUTTER_BACKEND "wayland"
    SDL_VIDEODRIVER "wayland"

    // --- NVIDIA SPECIFIC (GTX 1650) ---
    // Essential for hardware acceleration on NVIDIA laptops
    LIBVA_DRIVER_NAME "nvidia"
    GBM_BACKEND "nvidia-drm"
    __GLX_VENDOR_LIBRARY_NAME "nvidia"

    // --- FCITX 5 ---
    GTK_IM_MODULE "fcitx"
    QT_IM_MODULE "fcitx"
    XMODIFIERS "@im=fcitx"
    SDL_IM_MODULE "fcitx"
    GLFW_IM_MODULE "fcitx"
    DefaultIMModule "fcitx"

    // --- JAVA & MISC ---
    // Essential for your Java studies (Fixes blank window issues in Wayland)
    _JAVA_AWT_WM_NONREPARENTING "1"
    
    // --- SET THEMES ---
    
}
    
